[submodule ".config/qtile"]
	path = .config/qtile
	url = git@github.com:nikmosi/.qtile.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:nikmosi/nvim.git
[submodule ".config/fish/repo_plugin/git-fuzzy"]
	path = .config/fish/repo_plugin/git-fuzzy
	url = https://github.com/bigH/git-fuzzy.git
