[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:nikmosi/.nvim.git
[submodule ".config/qtile"]
	path = .config/qtile
	url = git@github.com:nikmosi/.qtile.git
[submodule ".config/ranger"]
	path = .config/ranger
	url = git@github.com:nikmosi/.ranger.git
