/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #282A2E;
    background-alt: #373B41;
    foreground:     #C5C8C6;
    selected:       #d9b368;
    active:         #A54242;
    urgent:         #8ABEB7;
}
